@import '../utilities/variables';

header{
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 5rem 0rem 1.5rem;
}
header h1{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2rem;
}
header h1 span{
    color: $celeste;
}
.navbar-toggler{
    color: transparent;
    border: solid 2px $celeste;
}
/* Responsive desktop */
@media (min-width: 992px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}