<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Tienda <span>Muebles</span></h1>
        <hr>
            <!-- Menu de navegacion -->
    <nav class="navbar navbar-expand-lg d-flex justify-content-center">
        <button class="navbar-toggler color-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-center" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="/tienda">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    </header>

    <!-- Inicia el cuerpo -->
    <main>
        <div>
            <img src="/img/principal.jpg" alt="Muebles">
        </div>
        <!-- Categorías de Productos -->
        <section class="categorias">
            <h2>Categorías de Productos</h2>
            <div>
                <article>
                    <img src="/img/categoria1.jpg" alt="Oficina">
                    <a href="#">Oficina</a>
                </article>
                <article>
                    <img src="/img/categoria2.jpg" alt="Hogar">
                    <a href="#">Hogar</a>
                </article>
                <article>
                    <img src="/img/categoria3.jpg" alt="Cocina">
                    <a href="#">Cocina</a>
                </article>
            </div>
        </section>
        <!-- Sobre nosotros -->
        <section class="nosotros">
            <img src="/img/nosotros.jpg" alt="Sillones">
            <div>
                <h2>Sobre Nosotros</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam nam aliquid blanditiis, at ad quod unde nulla ullam expedita provident aliquam, natus omnis sequi. Incidunt, unde voluptates. Sit, cum repellat!</p>
            </div>
        </section>
        <!-- Nuestros productos -->
        <section class="productos">
            <h2>Nuestros Productos</h2>
            <div class="contenedor-productos-grid">
            <article>
                <img class="img1" src="/img/producto1.jpg" alt="Muebles">
                <div>
                    <h3>Producto 1</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article>
                <img src="/img/producto2.jpg" alt="Muebles">
                <div>
                    <h3>Producto 2</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article>
                <img src="/img/producto3.jpg" alt="Muebles">
                <div>
                    <h3>Producto 3</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article>
                <img src="/img/producto4.jpg" alt="Muebles">
                <div>
                    <h3>Producto 4</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article>
                <img src="/img/producto5.jpg" alt="Muebles">
                <div>
                    <h3>Producto 5</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article>
                <img src="/img/producto6.jpg" alt="Muebles">
                <div>
                    <h3>Producto 6</h3>
                    <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.</p>
                    <p class="precio">$1,000,000.00</p>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
        </div>
        </section>
    </main>
    <hr class="footer-hr">
    <footer>
        <section>
            <div>
                <h4>Categorías</h4>
                <nav>
                    <a href="#">Cocina</a>
                    <a href="#">Oficina</a>
                    <a href="#">Jardin</a>
                    <a href="#">Cochera</a>
                    <a href="#">Dormitorios</a>
                </nav>
            </div>
            <div>
                <h4>Sobre Nosotros</h4>
                <nav>
                    <a href="#">Nuestra Historia</a>
                    <a href="#">Misión, Visión y Valores</a>
                    <a href="#">Carreras</a>
                    <a href="#">Política de Privacidad</a>
                    <a href="#">Términos del Servicio</a>
                </nav>
            </div>
            <div>
                <h4>Soporte</h4>
                <nav>
                    <a href="#">Preguntas Frecuentes</a>
                    <a href="#">Ayuda en línea</a>
                    <a href="#">Confianza y Seguridad</a>
                </nav>
            </div>
                <p>Todos los derechos Reservados, TiendaMuebles</p>
        </section>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>