@import '../utilities/variables';
/* Estilos categoria de productos */
main .categorias h2{
    text-align: center;
    margin: 2rem 0rem;
}
main .categorias article{
    display: flex;
    flex-direction: column;
}
main .categorias article a{
    color: $negro;
    text-align: center;
    margin: 0rem 0rem 2rem;
    font-size: 1.2rem;
    padding: 2rem;
}
main .categorias article a:hover{
    background-color: $celeste;
    border-radius: 0px 0px 17px;
    
}
/* Responsive tablet */
@media (min-width: 768px){
    /* Categorías de Productos */
    main .categorias h2{
        font-size: 2.5rem;
    }
    main .categorias div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
/* Responsive desktop */
@media (min-width: 992px){
    main .contenedor-img-principal{
        background-color: red;

    }
    main .contenedor-img-principal img{
        width: 100%;
    }
    /* Categorias */
    main .categorias div{
        width: 80%;
        margin: auto;
    }
}